.busStopListContainer {
  position: absolute;
  z-index: 999;
  top: 0.5vh;
  right: 0.5vw;
  background: white;
  color: #3a3a3a;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  min-width: 220px;
}

.header {
  display: flex;
  align-items: baseline;
}
.header h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header button {
  background: transparent;
}

.busStopsList {
  border-top: 1px solid #e3e3e3;
}
.busStopsList em {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 12px;
}
.busStopListItem {
  cursor: pointer;
  text-align: left;
  padding: 1rem;
}
.busStopListItem:hover {
  background: rgb(20 142 230 / 87%);
}
