.busStopScheduleContainer {
  position: absolute;
  z-index: 9999;
  top: 10vh;
  left: 0.5vw;
  background: white;
  color: #3a3a3a;
  border-radius: 0.25rem;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  text-align: center;
  width: 350px;
}

@media screen and (max-width: 767px) {
  .busStopScheduleContainer {
    width: 75vw;
    top: 0;
    height: 100vh;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
.header h3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header button {
  color: #3a3a3a;
  background: transparent;
}

.busStopScheduleList {
  border-top: 1px solid #e3e3e3;
}
.busStopScheduleListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  padding: 1rem;
}
.busStopScheduleListItem:hover {
  background: rgb(20 142 230 / 87%);
}
.busStopScheduleListItemBusNo {
  padding: 0.75rem;
  border-radius: 0.25rem;
  background: #4bfa78bd;
  width: 30px;
  text-align: center;
}
.busStopScheduleListItemInfo {
  flex: 1;
  text-align: center;
  padding-left: 0.5rem;
}
.busStopScheduleListItemInfo p {
  margin: 0;
}
.busStopScheduleListItemInfo h5 {
  margin-top: 4px;
  margin-bottom: 4px;
}
